
div.b1 {
  background-color: #E8F5E9 ;
  width: 450px;
  height: 142px;
  overflow: auto;
  display: inline;
}


div.widget {
background-color: #fafff5;
width: 450px;
height: 1000px;
overflow: hidden;
display: inline;
}



header {
  height: 151px;
  background-color: #a1a4a6;
  display:block;

}

section {
  width: 350px;
  overflow-y: auto;


}
